<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body class="container">
<div>
    <h2 th:text="'Hello, ' + ${name} + '!'"></h2>
    <div>
        <form th:action="@{/home}" method="get">
            <input type="submit" value="Go to home page" class="btn btn-info">
        </form>
    </div>
</div>

</body>
</html>